@import "reset";
@import "variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem 1rem 10rem;
  background-color: aqua;
}

main {
  padding: 2.5rem 10rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .filtros {
    h1 {
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 4rem;
    }
    .cores {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      span {
        margin-bottom: 0.9rem;
      }

      div {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;

        input {
          appearance: none;
          width: 1rem;
          height: 1rem;
          border: 1px solid $preto2;
          outline: none;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        input::before {
          content: "";
          width: 0.7rem;
          height: 0.7rem;
          background-color: $cor-primaria;
          opacity: 0;
        }

        input:checked::before {
          opacity: 1;
        }

        label {
          font-size: 14px;
          margin-left: 0.6rem;
        }
      }
    }
    .tamanhos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 11rem;
      span {
        margin-bottom: 1.5rem;
      }
    }
    .faixaPrecos {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-bottom: 0.9rem;
      }
      div {
        input {
          appearance: none;
          width: 1rem;
          height: 1rem;
          border: 1px solid $preto2;
          outline: none;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        input::before {
          content: "";
          width: 0.7rem;
          height: 0.7rem;
          background-color: $cor-primaria;
          opacity: 0;
        }

        input:checked::before {
          opacity: 1;
        }
        label {
          margin-left: 0.6rem;
        }
      }
    }
  }

  .produtos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    img {
      width: 195px;
      height: 293px;
    }
    h2 {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      color: $preto;
    }
    span {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: $preto;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $cinza1;
    }
    bottom {
      padding: 7px 49px;
      width: 195px;
      height: 33px;
      background: $preto;
    }
  }
  .ordenar {
    select {
      margin-top: 1rem;
    }
  }
}
